<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Rahul's <%= title %></title> -->
    <%- include("./partials/head.ejs" )%>
</head>
<body>
    <h1>About Page</h1>
    <!-- <nav>
        <a href="/about">About us</a><br/>
        <a href="/">index page</a><br/>
       
    </nav> -->
    <%- include("./partials/nav.ejs" )%>
    <%- include("./partials/footer.ejs" )%>
</body>
</html>